backend/microservices-pipe/mongo-data
backend/microservices-pipe/postgres-auth
backend/microservices-pipe/.DS_Store
backend/microservices-pipe/userdata-service/target
backend/microservices-pipe/auth-service/target
backend/microservices-pipe/discovery-service/target
backend/microservices-pipe/userdata-service/target
